<footer>
    <div class="row mt-3">

        <div class="col-12"><hr></div>

        <div class="col-sm-7">

            <h5 class="ml-5 text-primary">Laborshare</h5>
            <address class="ml-5">
                <p>Avenida João de Camargo, 510
                    <br>Bairro Inatel
                    <br>Santa Rita do Sapucaí - MG
                </p>
            </address>

        </div>

        <div class="col-sm-2">

            <h5>Social</h5>

            <div class="btn-group-vertical btn-block" role="group">
                <a href="" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a>
                <a href="" class="btn btn-outline-info"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>
            </div>

        </div>
            
    </div>
