<footer>
    <div class="row mt-3">

        <div class="col-12"><hr></div>

        <div class="col-sm-9">

            <h5 class="ml-5 text-primary">Laborshare</h5>
            <address class="ml-5">
                <p>Avenida João de Camargo, 510
                    <br>Bairro Inatel
                    <br>Santa Rita do Sapucaí - MG
                </p>
            </address>

        </div>

        <div class="col-sm-3">

            <h5>Social</h5>

            <div class="btn-group-vertical btn-block" role="group">
                <a href="https://github.com/Breno-do-val" target="blank" class="btn btn-outline-dark"><i class="fab fa-github"></i>&nbsp;GitHub</a>
                <a href="https://www.linkedin.com/in/breno-do-val-8a9149195/" target="blank" class="btn btn-outline-info"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>
            </div>

        </div>
            
    </div>

</footer>
