<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laborshare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/48c1ee9130.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        /*var CheckMaximo = 0;
               
        function verificar() {
        var Marcados = 1;
        var objCheck = document.forms['form1'].elements['input'];
        
        //Percorrendo os checks para ver quantos foram selecionados:
        for (var iLoop = 0; iLoop<objCheck.length; iLoop++) {
            //Se o número máximo de checkboxes ainda não tiver sido atingido, continua a verificação:
            if (Marcados <= CheckMaximo) {
                if (objCheck[iLoop].checked) {
                    Marcados++;
                }
                    //Habilitando todos os checkboxes, pois o máximo ainda não foi alcançado.
                    for (var i=0; i<objCheck.length; i++) {
                        objCheck[i].disabled = false;
                    }	
            //Caso contrário, desabilitar o checkbox;
            //Nesse caso, é necessário percorrer todas as opções novamente, desabilitando as não checadas;
            } else {
                for (var i=0; i<objCheck.length; i++) {
                    if(objCheck[i].checked == false) {
                        objCheck[i].disabled = true;
                    }	
                }
            }
        }
        }*/
        </script>
    
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active ml-4">
            <a class="nav-link" href="/"><i class="fas fa-home fa-2x"></i>&nbsp;Início</a>
            </li>
        </ul>
    </nav>

    <div class="container mt-5">

        <h1 class="my-2"><i class="fab fa-slideshare fa-lg text-primary"></i>&nbsp;Laborshare</h1>

        <p class="text-muted ml-4 mb-5">Provendo especialistas para empresas especiais.</p>
                    
    </div>

    <div class="row justify-content-center my-5">
        <div class="alert alert-success">
            <strong>Obrigado!</strong>&nbsp;Seu formulário foi enviado com sucesso.
        </div>
    </div>
    <div class="row mt-3">

        <div class="col-12"><hr></div>

        <div class="col-sm-7">

            <h5 class="ml-5 text-primary">Laborshare</h5>
            <address class="ml-5">
                <p>Avenida João de Camargo, 510
                    <br>Bairro Inatel
                    <br>Santa Rita do Sapucaí - MG
                </p>
            </address>

        </div>

        <div class="col-sm-2">

            <h5>Social</h5>

            <div class="btn-group-vertical btn-block" role="group">
                <a href="" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a>
                <a href="" class="btn btn-outline-info"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>
            </div>

        </div>
            
    </div>
    
</body>
</html>