<%- include('./components/head.ejs')%>
    
<script type="text/javascript">
    var CheckMaximo = 5;
           
    function verificar() {
        var Marcados = 1;
        var objCheck = document.querySelectorAll('.custom-control-input');
        
        //Percorrendo os checks para ver quantos foram selecionados:
        for (var iLoop = 0; iLoop<objCheck.length; iLoop++) {
            //Se o número máximo de checkboxes ainda não tiver sido atingido, continua a verificação:
            if (Marcados <= CheckMaximo) {
                if (objCheck[iLoop].checked) {
                    Marcados++;
                }
                    //Habilitando todos os checkboxes, pois o máximo ainda não foi alcançado.
                    for (var i=0; i<objCheck.length; i++) {
                        objCheck[i].disabled = false;
                    }	
            //Caso contrário, desabilitar o checkbox;
            //Nesse caso, é necessário percorrer todas as opções novamente, desabilitando as não checadas;
            } else {
                for (var i=0; i<objCheck.length; i++) {
                    if(objCheck[i].checked == false) {
                        objCheck[i].disabled = true;
                    }	
                }
            }
        }
    }
       
</script>
</head>

<body>

    <div class="container">

        <%- include('./components/navigation.ejs')%>

        <%- include('./components/header.ejs')%>

        <div class="row">

            <div class="container text-center mb-3">
                <h3><i class="fas fa-paper-plane fa-2x text-primary"></i>&nbsp;Formulário</h3>
                <p class="text-justify">Preencha todos os campos e escolha as funcionalidades que julga agregar mais valor ao processo de contratação de Dev's para demandas temporárias.</p>
            </div>
    
        </div>
        
        
        <div class="container">
    
            <div class="row justify-content-center">    
    
                <form method="post" id="form1" class="col-sm-12 col-md-10 col-lg-8">
    
                    <div class="form-row">
                        
                        <div class="form-group col-sm-6">
                            <label for="name">Nome:</label>
                            <input type="text" id="name" class="form-control" name="name" required/>
                        </div>
                        
                        <div class="form-group col-sm-6">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" name="email" required/>
                        </div>
    
                        <div class="form-group col-sm-6">
                            <label for="position">Profissão:</label>
                            <input type="text" id="position" class="form-control" name="position" required/>
                        </div>
    
                        <div class="form-group col-sm-6">
                            <label for="freelancer">Já contratei Desenvolvedor PJ:</label>
                            <select class="form-control" id="freelancer" name="freelancer">
                                <option value="yes">SIM</option>
                                <option value="no">NÃO</option>
                            </select>
                        </div>
    
                        <div class="form-group col-sm-12">
                            <label for="company">Empresa:</label>
                            <input type="text" id="company" class="form-control" name="company" required/>
                        </div>
                    </div>
    
                    
                    <h4 class="text-center mt-5">Selecione as funcionalidades</h4>
                    <p class="text-center">Dentre as funcionalidade abaixo, escolha <strong>no máximo 5.</strong></p>
                    <p class="text-center mb-5"><strong>Pode-se escolher mais de uma dentre as etapas.</strong></p>
                    
                    <div class="form-row my-5">
                        
                        <div class="form-group col-sm-4 my1">

                            <h5 class="text-center text-primary">Etapa de Recrutamento</h5>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="hardSkills" name="hardskills" onclick="verificar()">
                                <label class="custom-control-label" for="hardSkills">Análise das habilidades técnicas</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="softSkills" name="softSkills" onclick="verificar()" />
                                <label class="custom-control-label" for="softSkills">Análise do perfil comportamental</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="matching" name="matching" onclick="verificar()" />
                                <label class="custom-control-label" for="matching">Matching automatizado do candidato desejado</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="resume" name="resume" onclick="verificar()" />
                                <label class="custom-control-label" for="resume">Análise sistemática de Currículos</label>
                            </div>

                        </div>

                        <div class="form-group col-sm-4 my-0">

                            <h5 class="text-center text-primary">Etapa de Negociação</h5>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="validation" name="validation" onclick="verificar()" />
                                <label class="custom-control-label" for="validation">Validação de requisitos pelo Product Owner</label>
                            </div>
                   
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="hour" name="hour" onclick="verificar()">
                                <label class="custom-control-label" for="hour">Remuneração por hora trabalhada</label>
                            </div>
                        
                            <div class="custom-control custom-checkbox mb-2">
                                <input wm='labor' type="checkbox" class="custom-control-input" id="project" name="project" onclick="verificar()">
                                <label class="custom-control-label" for="project">Remuneração por projeto concluído</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="contract" name="contract" onclick="verificar()" />
                                <label class="custom-control-label" for="contract">Blockchain para contratos e N.D.A</label>
                            </div>

                        </div>

                        <div class="form-group col-sm-4 my-0">

                            <h5 class="text-center text-primary">Etapa de Gestão</h5>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="deliverable" name="deliverable" onclick="verificar()" />
                                <label class="custom-control-label" for="deliverable">Controle automatizado dos entregáveis</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="real-time" name="real-time" onclick="verificar()" />
                                <label class="custom-control-label" for="real-time">Controle de horas em tempo real</label>
                            </div>

                            <div class="custom-control custom-checkbox  mb-2">
                                <input type="checkbox" class="custom-control-input" id="projectManage" name="projectManege" onclick="verificar()" />
                                <label class="custom-control-label" for="projectManage">Gestão automatizada dos projetos</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" id="assessment" name="assessment" onclick="verificar()" />
                                <label class="custom-control-label" for="assessment">Avaliação de desempenho após a entraga</label>
                            </div>
                        
                        </div>
                        
                        <div class="form-group col-12 mt-3">
 
                            <label for="comment"><strong>Deixe sua dúvida ou comentário:</strong></label>
                            <textarea class="form-control mb-3" rows="5" id="comment" name="comment"></textarea>
                            <button class="btn btn-primary btn-block">Enviar formulário</button>

                        </div>

                </form>
    
            </div>
    
        </div>

        <%- include('./components/footer.ejs')%>

    </div>

</body>
</html>