<%- include('./components/head.ejs')%>
    
    <style>

        /*.main-container {

            width: 100%;
            height: 120px;
            margin-top: 70px;
            justify-content: center;

        } */
        
        div.main-container a {

            padding: 40px;
            border-radius: 5px;
            border: 2px solid #da552f;
            font-weight: bold;
            font-size: 16px;
            color: #da552f;
            text-decoration: none;
            transition: all 0.2s;
                         
        }

        div.main-container a:hover {

            background: #da552f;
            color: #fff;

        }

    </style>

</head>

<body>

    <%- include('./components/navigation.ejs')%>

    <%- include('./components/header.ejs')%>

    <div class="container p-3 bg-light">
 
        <h2 class="text-center mb-3"><i class="fas fa-cart-arrow-down fa-2x text-primary"></i>&nbsp;COMPRE UMA FUNCIONALIDADE</h2>

        <p>Nesta dinâmica, você como RH ou Desenvolvedor escolhe quais seriam as principais funcionalidades que gerariam mais valor no processo de contratação de profissionais na área de TI.</p>

        <p>Se for desenvolvedor, clique em <strong>Sou DEV</strong>, preencha o formulário e escolha as funcionalidades.</p>

        <p>Se for de Recursos Humanos ou está procurando alguém para desenvolver seus projetos, clique em <strong>Sou RH</strong>, preencha o formulário e faça o mesmo processo.</p>
        
    </div>


    <div class="container bg-light pb-5">

        <div class="row">
            <div class="col-12 col-sm-6 p-5 text-center main-container">
                <a href="company"><i class="fas fa-2x fa-database"></i>&nbsp;Sou RH</a>
            </div>
                
            <div class="col-12 col-sm-6 p-5 text-center main-container">
                <a href="developer"><i class="fas fa-2x fa-laptop-code"></i>&nbsp;Sou DV</a>
            </div>
        </div>
    </div>
    
    <div class="row">

        <div class="col-12"><hr></div>

        <div class="col-sm-10">

            <h5 class="ml-5 text-primary">Laborshare</h5>
            <address class="ml-5">
                <p>Avenida João de Camargo, 510
                    <br>Bairro Inatel
                    <br>Santa Rita do Sapucaí - MG
                </p>
            </address>

        </div>

        <div class="col-sm-2">

            <h5>Social</h5>

            <div class="btn-group-vertical btn-block" role="group">
                <a href="" class="btn btn-outline-primary"><i class="fab fa-facebook-square"></i>&nbsp;Facebook</a>
                <a href="" class="btn btn-outline-info"><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a>
            </div>

        </div>
         
    </div>

</body>
</html>