<%- include('./components/head.ejs')%>
    
    <style>

        /*.main-container {

            width: 100%;
            height: 120px;
            margin-top: 70px;
            justify-content: center;

        } */
        
        div.main-container a {

            padding: 40px;
            border-radius: 5px;
            border: 2px solid #da552f;
            font-weight: bold;
            font-size: 16px;
            color: #da552f;
            text-decoration: none;
            transition: all 0.2s;
                         
        }

        div.main-container a:hover {

            background: #da552f;
            color: #fff;

        }

    </style>

</head>

<body>

    <div class="container">

    <%- include('./components/navigation.ejs')%>

    <%- include('./components/header.ejs')%>

    <div class="container p-3 bg-light">
 
        <h2 class="text-center mb-4"><i class="fas fa-cart-arrow-down fa-2x text-primary"></i>&nbsp;COMPRE UMA FUNCIONALIDADE</h2>

        <p class="text-justify">Nesta dinâmica, você como RH ou Desenvolvedor escolhe quais seriam as principais funcionalidades que gerariam mais valor no processo de contratação de profissionais na área de TI para demandas temporárias.</p>

        <p class="text-justify">Se for desenvolvedor, clique em <strong>Sou DEV</strong>, preencha o formulário e escolha as funcionalidades.</p>

        <p class="text-justify">Se for de Recursos Humanos ou está procurando alguém para desenvolver seus projetos, clique em <strong>Sou RH</strong>, preencha o formulário e faça o mesmo processo.</p>
        
    </div>


    <div class="container bg-light pb-5">

        <div class="row">
            <div class="col-12 col-sm-6 p-5 text-center main-container">
                <a href="company"><i class="fas fa-2x fa-database"></i>&nbsp;Sou RH</a>
            </div>
                
            <div class="col-12 col-sm-6 p-5 text-center main-container">
                <a href="developer"><i class="fas fa-2x fa-laptop-code"></i>&nbsp;Sou DV</a>
            </div>
        </div>
    </div>
       
    <%- include('./components/footer.ejs')%>

</div>
</body>
</html>